/* #app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #000;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
  
} */

/* .swiper {
  width: 300px;
  height: 300px;
  
} */

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: linear-gradient(180deg, rgba(255, 249, 244, 1),rgba(249, 223, 138, 1) 100%);
  border-radius: 8px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: #F2F527;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
